.registro-root {
    -fx-background-color: #f7f8fa;
    -fx-font-smoothing-type: lcd;
}

.titulo {
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-text-fill: #1f2937;
}

.text-field {
    -fx-font-size: 16px;
    -fx-text-fill: #374151;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #d1d5db;
    -fx-border-radius: 8;
    -fx-padding: 6 10 6 10;
}
.text-field:focused {
    -fx-text-fill: #2c3e50;
    -fx-background-color: #f9fafb;
}

.boton {
    -fx-background-color: #111827;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16 8 16;
    -fx-cursor: hand;
}

.boton:hover{
    -fx-background-color: #080b15;
}